<app-header></app-header>

<div class="view-container">
  @if (view.currentView_Users()==="wetten") {
    <app-bets></app-bets>

    <div class="view-content">
    </div>
  }

  @if (view.currentView_Users()==="baum") {
    <div class="view-content">
      <p>baum</p>
    </div>
  }

  @if (view.currentView_Users()==="top") {
    <app-lider-board></app-lider-board>
    <div class="view-content">
    </div>
  }

  @if (view.currentView_Users()==="home") {
    <app-matches-for-users></app-matches-for-users>
    <app-vor-bets></app-vor-bets>
  }
</div>
